<ion-menu side="start" [attr.content-id]="idPage">
    <ion-header>
        <ion-toolbar translucent color="primary">
            <ion-title>Bem vindo, {{ clienteNome }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item [routerLink]="item.path" replaceUrl="true" *ngFor="let item of menu">
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                <ion-label>{{ item.label }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border">
        <ion-toolbar class="exit">
            <ion-button (click)="logout()" color="danger">Sair</ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-menu>