<app-menu idPage="carros-content"></app-menu>
<div class="ion-page" id="carros-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Meus Veículos</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="light" [scrollEvents]="true">
        <div *ngIf="!render" class="ion-padding custom-skeleton">
            <ion-list>
                <ion-item>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-item>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-item>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
            </ion-list>
        </div>
        <ion-list>
            <ion-item-sliding *ngFor="let veiculo of veiculos">
                <ion-item-options side="end">
                    <ion-item-option (click)="openAlert(veiculo)" color="danger" expandable>
                        Excluir
                    </ion-item-option>
                </ion-item-options>

                <ion-item>
                    <ion-label>{{ veiculo.marca }} | {{ veiculo.modelo }}</ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <!-- <ion-fab-button [routerLink]="['carro-form']" replaceUrl="true"> -->
            <ion-fab-button [routerLink]="['carro-form']">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
    </ion-content>
</div>