<app-menu idPage="solicitacao-content"></app-menu>
<div class="ion-page" id="solicitacao-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Solicitações</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="light" [scrollEvents]="true">
        <ion-col>
            <div class="box-chat" *ngIf="perguntas.length > 0">
                <div *ngFor="let pergunta of perguntas">
                    <app-chat (novoCarro)="goToVeiculos()" (novoAtend)="novoAtendimento($event)"
                        (escolha)="getEscolha($event)" [pergunta]="pergunta"></app-chat>
                </div>
            </div>
            <div *ngIf="showMsg" class="row">
                <small class="ion-float-right"><strong>@SmartMechanical</strong> está digitando ...</small>
            </div>
        </ion-col>

        <!-- <div *ngIf="!render" class="ion-padding custom-skeleton">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-card-content>
            </ion-card>
        </div> -->
    </ion-content>
</div>