#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}

.border-warning {
    border: 1px solid rgba($color: (#ffc409), $alpha: 1.0);
}

.border-success {
    border: 1px solid rgba($color: (#2dd36f), $alpha: 1.0);
}

.border-danger {
    border: 1px solid rgba($color: (#eb445a), $alpha: 1.0);
}

.border-info {
    border: 1px solid rgba($color: (#3dc2ff), $alpha: 1.0);
}

.border-dark {
    border: 1px solid rgba($color: (#222428), $alpha: 1.0);
}

.border-light {
    border: 1px solid rgba($color: (#f4f5f8), $alpha: 1.0);
}

.reload {
    padding-right: 10px;
}

.fill {
    width: 100%;
}

.spinner {
    display: flex;
    justify-content: center;
}

