<app-menu idPage="main-content"></app-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Home</ion-title>
            <ion-buttons class="reload" slot="end">
                <ion-icon (click)="getAll()" name="reload-outline"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content color="light" [scrollEvents]="true">
        <div *ngIf="!render" class="ion-padding custom-skeleton">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-row *ngFor="let ordem of ordens">
            <ion-card *ngIf="render && ordens.length > 0;" class="fill {{ status(ordem.status).classBorder }}">
                <ion-card-header>
                    <ion-card-title>
                        {{ ordem.carro.marca }} | {{ ordem.carro.modelo }}
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-col>
                            <span>Nº {{ ordem.referencia }}</span>
                        </ion-col>
                        <ion-col>
                            <span>{{ ordem.dataAbertura | date: 'dd/MM/yy' }}</span>
                        </ion-col>
                        <ion-col>
                            <ion-badge class="ion-float-right" [color]="status(ordem.status).classBadge">
                                {{ status(ordem.status).status }}</ion-badge>
                        </ion-col>
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <strong>Diagnosticado</strong>
                    <br>
                    {{ ordem.problemaDescrito }}
                    <ion-row>
                        <ion-col>
                            <ion-card-title class="ion-float-left">
                                <strong>{{ totalValue(ordem) | currency: 'BRL' }}</strong>
                            </ion-card-title>
                            <!-- <span class="ion-float-right">
                                
                                <a>
                                    <ion-icon name="build-outline"></ion-icon>
                                    Serviços
                                </a>
                            </span> -->
                        </ion-col>
                    </ion-row>
                </ion-card-content>
                <ion-row>
                    <ion-col *ngIf="ordem.status === 1 && !ordem.updating">
                        <ion-button (click)="aprovarOrcamento(ordem, 2, true)" class="ion-float-right" color="secondary">
                            Aprovar</ion-button>
                        <ion-button (click)="aprovarOrcamento(ordem, 3, false)" class="ion-float-right" fill="outline"
                            color="medium">Reprovar</ion-button>
                    </ion-col>
                    <ion-col *ngIf="submitting && ordem.updating">
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-row>
    </ion-content>
</div>